html, body{
	font-family: 'Raleway', sans-serif;
}

a {
	text-decoration: none;
	color: black;
}
.logo {
	width: 74%;
}
nav {
	height: 74px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.container_nav_bar1:hover {
	border-top: #0065FC 3px solid;
}
.container_nav_bar2:hover {
	border-top: #0065FC 3px solid;
}
.container_nav_bar1 {
	display: flex;
	width: 50%;
	align-items: end;
	justify-content: center;
}
#container_nav {
	width: 30%;
	display: flex;
}
.container_nav_bar2 {
	display: flex;
	width: 50%;
	align-items: end;
	justify-content: center;
}
.link {
	margin-top: 46px;
}

h1 {
	font-size: 19px;
}

p {
	font-size: 12px;
}
#research_input {
	border: none;
	height: 43px;
	width: 120px;
}

#research {
	display: flex;
	margin-top: 15px;
	height: 45px;
}

#research_button {
	background-color: #0065FC;
	color: white;
	font-weight: bold;
	border-top-right-radius: 16px;
	border-bottom-right-radius: 16px;
	border: none;
	width: 12%;
}