body {
	font-family: 'Raleway', sans-serif;
}

h1 {
	font-weight: 800;
	font-size: 16px;
	text-decoration: none;
}

p {
	font-weight: lighter;
	font-size: 15px;
}

/** Navigation **/

nav ul{
	display: flex;
	flex-direction: row;
}

nav a:hover {
	flex-direction: row;
	border-top: 10px;
	border-top: solid;
	border-top-color: #0065FC;
}

nav a {
	margin-right: 45px;
	text-decoration: none;
	color: black;
	font-size: 12px;
}

a:hover {
	color: blue;
	text-decoration: none;
}

/** Header **/

#header {
	display: flex;
	justify-content: space-between;
}

.logo {
	width: 50%;
}

/** Searchs **/

.bold_text, .sous_texte {
	margin: 15px;
}

#localisation {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding-top: 10px;
	margin: 15px;
}

#icon_localisation {
	display: flex;
	background-color: #F2F2F2;
	width: 40px;
	height: 38px;
	align-items: center;
	border: none;
	justify-content: center;
	border-top-left-radius: 9px;
	border-bottom-left-radius: 9px;
}

.search {
	border: none;
	height: 35px;
	width: 120px;
}

.searchbutton {
	background-color: #0065FC;
	height: 38px;
	color: #ffffff;
	font-weight: bold;
	border: none;
	border-top-right-radius: 9px;
	border-bottom-right-radius: 9px;
}

#search_button_mobile {
	display: none;
}

/** Filtres **/

.filtres {
	display: flex;
	flex-wrap: wrap;
	margin: 15px;
	margin-top: 30px;
}

.filtres div:hover {
	background-color: #0065FC;
	transition: 0.5s;
}

.filtres h1 {
	margin-right: 20px;
}

.filtres i {
	display: flex;
	width: 10px;
	min-width: 35px;
	min-height: 35px;
	margin-right: 10px;
	margin: -1px;
	justify-content: center;
	align-items: center;
	background-color: #DEEBFF;
	border-radius: 100%;
	color: #0065FC;
}

.filtres div {
	display: flex;
	align-items: center;
	margin-right: 25px;
	margin-bottom: 15px;
	border: 2px solid #d9d9d9;
	border-width: 1px 1px 1px 0px;
	border-radius: 30px;

}

.filtres span {
	margin-left: 10px;
	margin-right: 10px;
}

/** Infos **/

.info {
	display: flex;
	align-items: baseline;
}

.info_icon {
	padding: 3px;
	border-radius: 100px;
	color: #0065FC;
	width: 16px;
	height: 16px;
	border-width: 10px;
	border: 1px;
	border-style: solid;
	border-color: #F2F2F2;
	align-items: center;
}

.info p {
	padding-left: 8px;
}

/** Hébergements à Marseille **/

#hebergements {
	background-color: #F2F2F2;
	border-radius: 25px;
	width: 60%;
}

.title_hebergements {
	padding-left: 25px;
	padding-top: 15px;
}

.line1 {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 10px;
}

.line2{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	padding: 30px 30px 30px 30px;
}

.cards {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	width: 200px;
	border-radius: 20px;
	border: 3px solid white;
}

.cards a {
	text-decoration: none;
	color: black;
}

.img_hebergements {
	display: flex;
	background-size: cover;
	background-position: center;
	width: 200px;
	height: 92px;
	border-radius: 20px 20px 0 0;
}

.cards_description {
	padding: 5px 10px 0px 10px;
	background-color: white;
	height: 50px;
}

.cards_description h4, p {
	padding-top: 2px;
	background-color: white;
	margin: 0;
}

.stars_hebergements {
	display: flex;
	flex-direction: row;
	height: 20px;
	color: #0065FC;
	font-size: 12px;
	padding-left: 10px;
	background-color: white;
	border-radius: 0px 0px 10px 10px;
}

.last {
	display: flex;
	color: #F2F2F2;
	align-items: baseline;
	flex-direction: row;
}

.afficher {
	padding-left: 25px;
	margin: 15px 0px 40px 0px;
}

/** Les plus Populaires **/

#left_bloc {
	display: flex;
	justify-content: space-around;
	padding-top: 25px;
	height: 570px;
}

.populars {
	display: flex;
	flex-direction: column;
	background-color: #F2F2F2;
	width: 35%;
	border-radius: 25px;
}

.popular_titles {
	display: flex;
	flex-direction: row;
	align-items: baseline;
	justify-content: space-between;
	padding-left: 35px;
	padding-top: 15px;
	padding-right: 35px;
}

.bloc_popular_cards {
	display: flex;
	flex-direction: row;
	padding-left: 35px;
	padding-top: 10px;
	margin: 7px;
}

.bloc_popular_cards a {
	display: flex;
	text-decoration: none;
	color: black;
	width: 200px;
	border-radius: 0 12px 12px 0;
}

.popular_cards {
	display: flex;
	flex-direction: row;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	border-radius: 0 12px 12px 0;
	border: 3px solid white;
}

.popular_img {
	display: inline;
	background-position: center;
	width: 50%;
	height: 130px;
	object-fit: cover;
	border-radius: 12px 0 0 12px;
	border: 3px solid white;
	flex-shrink: 0;
}

.popular_descr {
	width: 200px;
	border-radius: 0px 10px 10px 0px;
	background-color: white;
}

.popular_text {
	padding-top: 2px;
	margin: 0;
	padding: 10px 0 0 15px;
	background-color: white;
}

.popular_stars {
	display: flex;
	flex-direction: row;
	height: 20px;
	color: #0065FC;
	font-size: 10px;
	padding: 25px 0 0 15px;
	border-radius: 0px 0px 10px 10px;
}

.grey_star {
	display: flex;
	color: #F2F2F2;
	align-items: baseline;
	flex-direction: row;
}

/** Activités à Marseille **/

#activites {
	padding: 0px 20px 25px 20px;
	margin-top: 40px;
}

.choices {
	display: flex;
	justify-content: space-between;
	height: 550px;
	font-size: smaller;
}

.activites_title {
	padding-left: 25px;
	padding-top: 15px;
}

.choices .column1 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 20%;
	border-radius: 20px;
}

.choices .column1 a {
	height: 550px;
	text-decoration: none;
	color: black;
}

.choices article img {
	object-fit: cover;
	height: calc(90% - 50px);
	width: 100%;
	border-radius: 20px 20px 0px 0px;
}

.choices .column1 article {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	border-radius: 20px;
	height: 100%;
}

.choices article h3 {
	margin-left: 15px;
}

.column2 {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	width: 350px;
}

.column2 article {
	height: 250px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	border-radius: 25px 25px 25px 25px;
}

.column2 a {
	text-decoration: none;
	color: black;
}