html, body{
	font-family: 'Raleway', sans-serif;
}

a {
	text-decoration: none;
	color: black;
}
.logo {
	width: 74%;
}
nav {
	height: 74px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.container_nav_bar1:hover {
	border-top: #0065FC 3px solid;
}
.container_nav_bar2:hover {
	border-top: #0065FC 3px solid;
}
.container_nav_bar1 {
	display: flex;
	width: 50%;
	align-items: end;
	justify-content: center;
}
#container_nav {
	width: 30%;
	display: flex;
}
.container_nav_bar2 {
	display: flex;
	width: 50%;
	align-items: end;
	justify-content: center;
}
.link {
	margin-top: 46px;
}

h1 {
	font-size: 19px;
}

p {
	font-size: 12px;
}
#research_input {
	border: none;
	height: 43px;
	width: 120px;
}

#research {
	display: flex;
	margin-top: 15px;
	height: 45px;
}

#research_button {
	background-color: #0065FC;
	color: white;
	font-weight: bold;
	border-top-right-radius: 16px;
	border-bottom-right-radius: 16px;
	border: none;
	width: 8%;
}

#research_button_mobile {
	display: none;
}

#icon {
	width: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 8px O O 8px;
	background-color: #F4F3F3;
}

.search_filter {
	display: flex;
	flex-wrap: wrap;
	margin: 17px;
	font-size: 12px;
}

.search_filter i {
	background-color: #DEEBFF;
	border-radius: 100%;
	height: 10px;
	width: 10px;
	align-items: center;
	justify-content: center;
	margin: -2px;
	color: #0065FC;
	margin-right: 12px;
}

.search_filter div {
	display: flex;
	align-items: center;
	margin-right: 22px;
	border: 2px solid #d9d9d9;
	border-radius: 32px;
	margin-bottom: 15px;
	transition-duration: 0.1s;
	cursor: pointer;
	padding-right: 15px;
	font-weight: bold;
}

.fa-solid {
	color: #0065FC;
	border-radius: 50px;
	border : solid 2px #eadddd;
	margin-right: 8px;
	padding:4px 11px 7px 11px;
	font-size: 14px;
}

.infos p {
	display: initial;
}

.search_filter div:hover {
	background-color: #0065FC;
}

/** Section hébergement et populaire **/ 

.section_content {
	display: flex;
	width: 100%;
	height: 500px;
	justify-content: space-between;
	padding: 3.5px;
}

.title_section_h3 {
	margin-left: 5%;
	padding-top: 17px;
}

.section_1  {
	width: 68% ;
	height: 600px;
	border-radius: 25px;
}

#section_1_hebergements {
	width: 90%;
	margin-left: 5%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space_between;
}

.section_1_part1 {
	width: 68%;
	height: 600px;
	border-radius: 25px;
	background: #f4f3f3;
}

.hebergements_section1 {
	background-color: rgb(255, 255, 255);
	padding: 3.6px;
	height: 43%;
	border-radius: 20px;
	box-shadow: 2px 2px 2px 2px #0000;
	display: inline;
}

.hebergements_section1 img {
	width: 100%;
	height: 64%;
	object-fit: cover;
	border-radius: 20px 20px 0 0;
}

#section_1_hebergements a {
	display: contents;
}

.hebergements_section_1 p{
	color: black;
	font-size: 11px;
}

.hebergements_title_h3{
	color: black;
}
/*
.section1_text {
	height: 49%;
	padding-left: 13px;
	margin-top: -14px;
	color: black;
}
*/

.section1_text h3{
	font-size: 13px;
}

.star{
	margin-top: 9px;
	font-size: small;
}

.price {
	font-weight: initial;
}


.star_blue {
	color: #0065FC;
}

.star_grey {
	color: rgb(192, 192, 192);
}

.section1_text p{
	margin-left: 1px;
}

.afficher{
	font-size: 15px;
	font-weight: bold;
	color: black;
	margin-left: 6%;
	margin-top: -12px;
}

.line1 {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	padding-left: 25px;
	padding-right: 25px;
}
/* Popolar */

#popular_tital_and_icon {
	display: flex;
	align-items: center;
	justify-content: space-between;
} 

.card {
	height: 157px;
	background-color: white;
	padding: 3.6px;
	border-radius: 20px;
	box-shadow: 0px 0 px 7px 0px #0000002e; 
	margin: 13px;
}

.card_img {
	width: 40%;
	height: 154px;
	object-fit: cover;
	display: inline;
	border-top-right-radius: 18px;
	border-bottom-left-radius: 18px;
	flex-shrink: 0;
}

.element {
	width: 29%;
	background-color: #f4f3f3;
	border-radius: 15px;
	padding: 0 10px 0;
	height: 599px;
}

.star_popular {
	display: flex;
	margin-top: 137px;
	position: absolute;
}

a {
	text-decoration: none;
}

.card_info {
	color: black;
	font-weight: bolder;
	display: flex;
	flex-direction: column;
	margin-left: 7px;
	font-size: 13px;
}





































